<p id="notice"><%= notice %></p>

<h1>Listing Host Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @host_users.each do |host_user| %>
      <tr>
        <td><%= host_user.name %></td>
        <td><%= host_user.email %></td>
        <td><%= link_to 'Show', host_user %></td>
        <td><%= link_to 'Edit', edit_host_user_path(host_user) %></td>
        <td><%= link_to 'Destroy', host_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host user', signup_path %>

